html {
   background-color: #fbfbfb;
}

body {
   font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;

}

code {
    color: #fff;
    background: #0e0f11;
}

pre {
    border-radius: 30px;
    background: #0e0f11 !important;
    padding: 1rem 1rem 1rem 1rem !important;
    font-size: 1.4rem;
}

a {
    color: #0e25b8
}

header.app-header h1, header.app-header p, header > div.app-header-content > div > a > svg {
    color: #000;
}

header.app-header h1 {
    line-height: 1.5em;
}

.title-body {
    background-image: linear-gradient(141deg,#159dc6,#3298dc 71%,#4389e5);
    background-size: 400% 400%;
    animation: NavBarGradient 40s ease infinite;
    -webkit-box-shadow: 0 -9px 23px 4px #292929;
    box-shadow: -18px -9px 23px 4px #292929;
    margin-bottom: 30px;
    padding: 15px;
}

.title-body h1 {
    color: #fff!important;
    margin: 0 0;
    font-size: 2.5rem;
}

h1.post-title {
    margin-top: 0;
}

.app-header {
    box-shadow: -103px 0px 65px 81px #000;
    background-color: #fff;
    padding: 0 0 10px 0;
}

.app-header-content {
    padding: 1.2rem 1.2rem 0 0;
}

img.app-header-avatar {
    border: .5rem solid #6e6e6e;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    color: #3d3d3d;
}

p, dt {
    font-size: 1.4rem;
}

dt {
    color: #000;
    font-weight: bold;
}

ul.posts-list {
    font-size: 1.4rem;
}

.page-item.active .page-link {
    background: none;
}

.app-container {
        margin-left: 24rem;
        max-width: 1344px;
}

.breadcrumb ol, .breadcrumb ul {
    -webkit-box-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.breadcrumb li {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
}

.breadcrumb.has-arrow-separator li+li:before {
    content: "\02192";
}

.breadcrumb li+li:before {
    color: #b5b5b5;
    content: "\0002f";
}

.breadcrumb li.is-active a {
    color: #363636;
    cursor: default;
    pointer-events: none;
}

.breadcrumb a {
    -webkit-box-align: center;
    align-items: center;
    color: #3273dc;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 .75em;
}

.breadcrumb ul {
    padding-left: 0;
}

@media (max-width : 870px) {
    .app-container {
        margin-left: 0px;
        max-width: auto;
    }
    .app-header {
        box-shadow: -63px -109px 65px 81px #000;
    }
}

@media (min-width : 940px) {
    .app-header {
        width: 260px;
    }
}
